body * {
  box-sizing: border-box;
}

body {
  overscroll-behavior-y: contain;
}

#root {
  height: 100%;
}

#visualisation {
  width: 900px;
  height: 600px;
  border: 1px solid black;
  margin: 0 auto;
}
